name: Build wheels

on:
  push:
    tags:
      - "v*"

env:
  SQLITE_YEAR: 2025
  SQLITE_VERSION: 3510000
  SQLITE_VERSION_DOTTED: 3.51.0
  SQLITE_HASH_SHA3_256: 01d85a7831c611f000aca64fa2b01cd8acb33f8adf6e6e21556353d898b97166
  PYSQLITE_VERSION: 0.5.4
  PYSQLITE_URL: https://files.pythonhosted.org/packages/33/cb/ef7d041dbecfbf47f9241d7cb6328311fd80fe15bd61a6253d9ab36e9d6d/pysqlite3-0.5.4.tar.gz
  PYSQLITE_HASH_SHA256: fbc69bfdc0cb43a5badd5403b126d5151371b5037e0397ba9802bb440c5b0021

jobs:
  build_wheels_linux_amd64:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: read

    strategy:
      matrix:
        include:
          - python_version: cp311
            libc_version: manylinux2014
          - python_version: cp312
            libc_version: manylinux_2_28
          - python_version: cp313
            libc_version: manylinux_2_28

    steps:
      - name: Checkout the repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0

      - name: Download SQLite3 source
        run: |
          curl --connect-timeout 5 --max-time 30 --location -o sqlite-amalgamation.zip 'https://www.sqlite.org/${{ env.SQLITE_YEAR }}/sqlite-amalgamation-${{ env.SQLITE_VERSION }}.zip'
          sqlite3_dist_hash=`openssl dgst -sha3-256 -hex sqlite-amalgamation.zip | awk '{ print $NF; }'`
          echo "computed hash: ${sqlite3_dist_hash}"
          if [ x"${sqlite3_dist_hash}" != x"${{ env.SQLITE_HASH_SHA3_256 }}" ]; then
            exit 1
          else
            exit 0
          fi

      - name: Download pysqlite3 source
        run: |
          curl --connect-timeout 5 --max-time 30 --location -o pysqlite3.tar.gz '${{ env.PYSQLITE_URL }}'
          pysqlite3_dist_hash=`openssl dgst -sha256 -hex pysqlite3.tar.gz | awk '{ print $NF; }'`
          echo "computed hash: ${pysqlite3_dist_hash}"
          if [ x"${pysqlite3_dist_hash}" != x"${{ env.PYSQLITE_HASH_SHA256 }}" ]; then
            exit 1
          else
            exit 0
          fi

      - name: Extract pysqlite3 source
        run: tar -xzf pysqlite3.tar.gz

      - name: Extract amalgamated SQLite3 source to pysqlite3 build tree
        run: |
          cd pysqlite3-${{ env.PYSQLITE_VERSION }}
          unzip -j ../sqlite-amalgamation.zip sqlite-amalgamation-${{ env.SQLITE_VERSION }}/sqlite3.c sqlite-amalgamation-${{ env.SQLITE_VERSION }}/sqlite3.h

      - name: Build wheel
        uses: pypa/cibuildwheel@faf86a6ed7efa889faf6996aa23820831055001a  # v2.23.3
        with:
          package-dir: pysqlite3-${{ env.PYSQLITE_VERSION }}
        env:
          CIBW_ARCHS_LINUX: x86_64
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.libc_version }}
          CIBW_BUILD: ${{ matrix.python_version }}-manylinux_x86_64
          CIBW_BEFORE_BUILD_LINUX: >-
            pip3 install -U setuptools wheel;
            cd pysqlite3-${{ env.PYSQLITE_VERSION }};
            sed -i -e "s/^VERSION = '${{ env.PYSQLITE_VERSION }}'/VERSION = '${{ env.PYSQLITE_VERSION }}+nmu.sqlite${{ env.SQLITE_VERSION_DOTTED }}'/" setup.py;
            env CFLAGS='-march=nehalem -O2' LDFLAGS='-Wl,-z,now' python3 setup.py build_static &&
            strip build/*/pysqlite3/*.so
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_REPAIR_WHEEL_COMMAND: >-
            wheel_full_path={wheel};
            wheel_filename=`basename ${wheel_full_path}`;
            cp -p {wheel} {dest_dir}/${wheel_filename%-linux_x86_64.whl}-${{ matrix.libc_version }}_x86_64.whl

      - name: Create layer zip archive
        run: |
          wheel_path=`ls wheelhouse/*.whl`
          wheel_filename=`basename ${wheel_path}`
          mkdir -p layer/python
          unzip -d layer/python ${wheel_path}
          cd layer
          rm -rf python/*.dist-info
          zip -r ../wheelhouse/layer-${wheel_filename%.whl}.zip python

      - name: Upload materials as an artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: artifact-wheel-${{ matrix.python_version }}-linux_x86_64
          path: wheelhouse/*

  build_wheels_linux_aarch64:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 5

    permissions:
      contents: read

    strategy:
      matrix:
        include:
          - python_version: cp311
            libc_version: manylinux2014
          - python_version: cp312
            libc_version: manylinux_2_28
          - python_version: cp313
            libc_version: manylinux_2_28

    steps:
      - name: Checkout the repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0

      - name: Download SQLite3 source
        run: |
          curl --connect-timeout 5 --max-time 30 --location -o sqlite-amalgamation.zip 'https://www.sqlite.org/${{ env.SQLITE_YEAR }}/sqlite-amalgamation-${{ env.SQLITE_VERSION }}.zip'
          sqlite3_dist_hash=`openssl dgst -sha3-256 -hex sqlite-amalgamation.zip | awk '{ print $NF; }'`
          echo "computed hash: ${sqlite3_dist_hash}"
          if [ x"${sqlite3_dist_hash}" != x"${{ env.SQLITE_HASH_SHA3_256 }}" ]; then
            exit 1
          else
            exit 0
          fi

      - name: Download pysqlite3 source
        run: |
          curl --connect-timeout 5 --max-time 30 --location -o pysqlite3.tar.gz '${{ env.PYSQLITE_URL }}'
          pysqlite3_dist_hash=`openssl dgst -sha256 -hex pysqlite3.tar.gz | awk '{ print $NF; }'`
          echo "computed hash: ${pysqlite3_dist_hash}"
          if [ x"${pysqlite3_dist_hash}" != x"${{ env.PYSQLITE_HASH_SHA256 }}" ]; then
            exit 1
          else
            exit 0
          fi

      - name: Extract pysqlite3 source
        run: tar -xzf pysqlite3.tar.gz

      - name: Extract amalgamated SQLite3 source to pysqlite3 build tree
        run: |
          cd pysqlite3-${{ env.PYSQLITE_VERSION }}
          unzip -j ../sqlite-amalgamation.zip sqlite-amalgamation-${{ env.SQLITE_VERSION }}/sqlite3.c sqlite-amalgamation-${{ env.SQLITE_VERSION }}/sqlite3.h

      - name: Build wheel
        uses: pypa/cibuildwheel@faf86a6ed7efa889faf6996aa23820831055001a  # v2.23.3
        with:
          package-dir: pysqlite3-${{ env.PYSQLITE_VERSION }}
        env:
          CIBW_ARCHS_LINUX: aarch64
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.libc_version }}
          CIBW_BUILD: ${{ matrix.python_version }}-manylinux_aarch64
          CIBW_BEFORE_BUILD_LINUX: >-
            pip3 install -U setuptools wheel;
            cd pysqlite3-${{ env.PYSQLITE_VERSION }};
            sed -i -e "s/^VERSION = '${{ env.PYSQLITE_VERSION }}'/VERSION = '${{ env.PYSQLITE_VERSION }}+nmu.sqlite${{ env.SQLITE_VERSION_DOTTED }}'/" setup.py;
            env CFLAGS='-mcpu=neoverse-n1 -O2' LDFLAGS='-Wl,-z,now' python3 setup.py build_static &&
            strip build/*/pysqlite3/*.so
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_REPAIR_WHEEL_COMMAND: >-
            wheel_full_path={wheel};
            wheel_filename=`basename ${wheel_full_path}`;
            cp -p {wheel} {dest_dir}/${wheel_filename%-linux_aarch64.whl}-${{ matrix.libc_version }}_aarch64.whl

      - name: Create layer zip archive
        run: |
          wheel_path=`ls wheelhouse/*.whl`
          wheel_filename=`basename ${wheel_path}`
          mkdir -p layer/python
          unzip -d layer/python ${wheel_path}
          cd layer
          rm -rf python/*.dist-info
          zip -r ../wheelhouse/layer-${wheel_filename%.whl}.zip python

      - name: Upload materials as an artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02  # v4.6.2
        with:
          name: artifact-wheel-${{ matrix.python_version }}-linux_aarch64
          path: wheelhouse/*

  publish_releases:
    needs: [build_wheels_linux_amd64, build_wheels_linux_aarch64]
    runs-on: ubuntu-latest
    timeout-minutes: 2

    permissions:
      contents: write

    steps:
      - name: Checkout the repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0

      - name: Download all artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0  # v5.0.0

      - name: Prepare files for this release
        run: |
          echo 'wheels only. see README.md for sources.' > +WHEELS_ONLY--SEE_README_FOR_SOURCES

      - name: Make a release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} --draft --notes-from-tag --latest
          gh release upload ${{ github.ref_name }} */*.whl */*.zip +WHEELS_ONLY--SEE_README_FOR_SOURCES
          gh release edit ${{ github.ref_name }} --draft=false
